################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SimpleFunctionApp/Properties/PublishProfiles
/TrafficGenerator/bin/Debug
/TrafficGenerator/obj/Debug
